.snow-char {
  display: inline-block;
  color: inherit !important;
  background: transparent !important;
  will-change: transform;
  animation: snowFall 3s ease-out forwards;
}
@-moz-keyframes snowFall {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes snowFall {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes snowFall {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes snowFall {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}
